.main-container {
    background-image: linear-gradient(180deg, #23386C 0%, #904ABB 100%);
    width: 100%;
}

.title-container {
    padding: 40px;
}

.section-title {
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    padding-bottom: 20px;
    color: white;
}

.grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto;
}

.grid-cell {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.grid-cell img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    padding-bottom: 10px;
}

.grid-cell h4 {
    font-weight: 600;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
    color: white;
}

.grid-cell p {
    font-weight: 400;
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    color: white;
    line-height: 1.3;
}

@media (max-width: 1920px) {
	
}

@media (max-width: 1680px) {
	
}

@media (max-width: 1280px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 980px) {
	
}

@media (max-width: 736px) {

}

@media (max-width: 480px) {

}

@media (max-width: 360px) {

}